__pycache__/
.ipynb_checkpoints
*.npy
*.pyc
.idea
.vscode
wandb/
*.egg-info/
*.swp

data/VQA/Features/
data/VQA/Images/val2014/
data/VQA/Images/train2014/
data/VQA/Questions/
data/VQA/Annotations/
data/helper/Results/
data/VQA/Features/train2014/
data/VQA/Features/val2014/
evaluation/ckp_adapter/
evaluation/results/old/
evaluation/ckp_reptile/
evaluation/results/
evaluation/precompute_adaptation/
evaluation/diffusion/
evaluation/hyperclip/
evaluation/hypergan/
evaluation/maml/
evaluation/few_shot/
evaluation/vae/
scripts/scratch/